body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: hotpink;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 10px dotted purple;
}

h2 {
  font-size: 1.5em;
  font-style: italic;
}
ul {
  background-color: #eee;
  border: 5px solid purple;
  padding: 10px;
}

.job-title {
  color: #999999;
  font-weight: bold;
}

a:link,
a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
  color: green;
}

span.highlight {
  background-color: yellow;
  font-weight: bold;
}
h1.highlight {
  color: red;
  font-size: 3em;
}
.notebox {
  border: 4px solid #666;
  padding: 0.5 em;
  margin: 0.5em;
}
.warning {
  border-color: orange;
  /* font-weight: bold; */
  color: orange;
}
.notebox.danger {
  border-color: red;
  /* font-weight: bold; */
}

